body{
    background-color: antiquewhite;
    color: rgb(49, 45, 45);
}

.menu{
    display: inline-block;
    cursor: pointer;
}

.menu1, .menu2, .menu3 {
    width: 35px;
    height: 5px;
    background-color: rgb(94, 90, 84);
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .menu1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .menu2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .menu3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }


h1{
    margin-left: 140px; 
}

h2{
    margin-left: 140px;
}

@media screen and (min-width: 420px) {
    body {margin: 2px;}
    .wrapper_2col{
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
        position: relative;
    }
    .mainmenu{
        width: 110px;
    }
}


@media screen and (min-width: 794px){
    body{
        font-size: 23px;
        margin: 10px;
    }
    h1 {size: 48px;}
    h2 {size: 35px;}
    .wrapper_2col{
        margin-left: auto;
        margin-right: auto;
        max-width: 75%;
        position: relative;
    }
    .mainmenu{
        width: 130px;
    }
}

.mainmenu{
    position: fixed;
    top: 20px;
    left: 10px;
    background: rgb(250, 241, 230);
    padding: 8px 0;
}

.div-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    position: relative;
}

.slider-button {
    border: none;
    display: inline-block;
    padding: 8px 8px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: blue;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

.slider-button:hover {
    color: rgb(176, 225, 169)
}

.display-left {
    left: 0%;
}

.display-right {
    right: 0%;
}

th, td {
    padding: 15px;
    padding-top: 0px;
    margin-top: 40px;
  }